/* Admissions Page Styles
   ------------------------------------------- */
/* CSS Variables */
:root {
    /* Colors */
    --primary-color: #45148a;
    --primary-color-transparent: ##8251c7;;
    --primary-color-dark: #2a057a;
    --social-hover: #1e1629;
    /* --primary-color: #85ffd4;
    --primary-color-transparent: #3ebc839c;
    --primary-color-dark: #15da8f; */
    --white: #ffffff;
    --black: #000000;
    --text-dark: #444444;
    --text-gray: #666666;
    --text-nav: #7c7c7c;
    --border-light: #eeeeee;

    --gray-bg-light: #f1f1f1;
    --gray-bg-medium: #e2e2e2;
    --gray-bg-dark: #d8d7d7;
    --hover: rgb(203, 98, 0);

    /* Shadows */
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-dark: rgba(0, 0, 0, 0.6);

    /* Font Sizes */
    --font-small: 0.7rem;
    --font-regular: 0.8rem;
    --font-medium: 0.9rem;
    --font-large: 1.5rem;
}

/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.top-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    /* ensures it stays above all other content */
    background-color: white;
    /* prevents transparency gaps */
}

/* Language Bar */
.language-bar {
    background-color: rgba(216, 214, 211, 0.777);
    padding: 2px 0;
    border-bottom: 1px solid var(--border-light);
}

.language-options {
    text-align: right;
    font-size: 11px;
    color: var(--text-gray);
    padding-right: 10px;
}

.language-options a {
    text-decoration: none;
    color: var(--text-gray);
    margin-left: 10px;
}

/* Navigation */
.navbar {
    background-color: var(--white);
    padding: 8px 0;
    border-bottom: 1px solid var(--border-light);
    width: 100%;
    font-family: 'Arial', sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.logo {
    flex-shrink: 0;
    margin-right: 50px;
}

.logo img {
    height: 60px;
    width: auto;
    display: block;
}

.nav-links {
    margin-left: auto;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-nav);
    font-weight: 580;
    font-size: 13px;
    white-space: nowrap;
}

.nav-links a:hover:not(:last-child) {
    color: var(--text-dark);
}

/* Active nav link styling */

.nav-links .active {
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-offset: 6px;
}

.sign-in-btn {
    background-color: transparent;
    color: var(--text-dark) !important;
    padding: 8px 20px;
    border: 2px solid var(--text-dark);
    border-radius: 4px;
}

.sign-in-btn:hover {
    background-color: var(--text-dark);
    color: var(--white) !important;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: var(--text-dark);
    transition: all 0.3s ease;
}

@media (max-width: 1000px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        position: fixed;
        top: 155px;
        left: -100%;
        width: 100%;
        background-color: var(--white);
        box-shadow: 0 4px 8px var(--shadow-light);
        transition: left 0.3s ease;
        z-index: 999;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links ul {
        flex-direction: column;
        padding: 20px;
        gap: 15px;
        align-items: flex-start;
    }

    .nav-links li {
        width: 100%;
    }

    .dropdown-menu {
        position: static;
        display: none;
        box-shadow: none;
        margin-top: 10px;
        padding-left: 20px;
    }

    .dropdown.active .dropdown-menu {
        display: block;
    }
}

/* Notification Banner */
.notification-banner {
    background-color: var(--primary-color-dark);
    color: var(--white);
    padding: 8px 0;
    box-shadow: 0 2px 4px var(--shadow-dark);
}

.notification-content {
    /* max-width: 60%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.notify-btn {
    background-color: var(--white);
    color: var(--primary-color);
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 4px var(--shadow-light);
}

.notify-btn:hover {
    background-color: var(--gray-bg-light);
}


a {
    color: var(--primary-color);
    text-decoration: none;
}

.hover:hover {
    color: var(--hover);
}

/* Active nav link styling */
.nav-links .active {
    color: var(--primary-color);
    text-decoration: underline;

}

i {
    text-decoration: none;
    color: var(--text-nav);
}

.breadcrumb {
    background-color: #f7f7f7;
    margin-top: 150px;
    padding: 10px 18.5%;
    font-size: 14px;
    max-width: 100%;
    font-weight: 600;
}

.breadcrumb a {
    color: var(--primary-color);
    text-decoration: none;
}

.breadcrumb span {
    color: #555;
}

.overall {
    padding: 40px 20px;
    max-width: 65%;
    margin: 0 auto;
}

.overall h1 {
    font-size: 1.75rem;
    color: var(--black);
    margin-bottom: 20px;
    font-weight: 600;
}

.overall h2 {
    margin-top: 40px;
    color: var(--primary-color);
    font-size: var(--font-medium);
    font-weight: 600;
}

.overall h3 {
    margin-top: 30px;
    color: var(--text-dark);
    font-size: 1em;
    font-weight: 600;
    text-decoration: underline;
}

.overall p {
    line-height: 1.7;
    color: var(--black);
    margin-top: 5px;
    font-size: var(--font-regular);
}

.overall .sub-p {
    color: var(--text-gray);
}


.mandatory-section, .application-section, .regular-section, .international-section {
    margin: 10px auto 0 auto;
    background: var(--gray-bg-light);
    padding: 10px 0 20px 0;
}

.mandatory-title, .eligibility-title, .application-title, .admission-title, .regular-title, .q-eligibility-title, .regularpass-title, .validity-title, .reattempt-title, .jee-based-title, .international-title {
    font-size: var(--font-large) !important;
    font-weight: bold;
    color: #232323;
    letter-spacing: 0.5px;
    margin-bottom: 26px;
}

.mandatory-list, .eligibility-list, .application-list, .admission-list, .regular-list, .q-eligibility-list, .regularpass-list, .validity-list, .reattempt-list, .jee-based-list, .international-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mandatory-list li, .eligibility-list li, .application-list li, .admission-list li, .regular-list li, .q-eligibility-list li, .regularpass-list li, .validity-list li, .reattempt-list li, .jee-based-list li, .international-list li {
    font-size: var(--font-medium) !important;
    line-height: 1.75;
    margin-bottom: 5px;
    position: relative;
    padding-left: 34px;
    color: var(--text-gray);
}

.mandatory-list li:last-child, .eligibility-list li:last-child, .application-list li:last-child, .admission-list li:last-child, .regular-list li:last-child, .q-eligibility-list li:last-child, .regularpass-list li:last-child, .validity-list li:last-child, .reattempt-list li:last-child, .jee-based-list li:last-child, .international-list li:last-child {
    margin-bottom: 0;
}

.checkmark {
    color: var(--black);
    font-size: 1.15em;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 5px;
}

.mandatory-link, .eligibility-link, .application-link, .admission-link, .regular-link, .q-eligibility-link, .regularpass-link, .validity-link, .reattempt-link, .international-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.14s;
}

.mandatory-link:hover, .eligibility-link:hover, .application-link:hover, .admission-link:hover, .regular-link:hover, .q-eligibility-link:hover, .regularpass-link:hover, .validity-link:hover, .reattempt-link:hover, .international-link:hover {
    color: var(--hover);
}

.note {
    margin-top: 5px;
    font-size: 0.8em;
    color: var(--text-gray);
}

/* Responsive layout */
@media (max-width: 900px) {
    .mandatory-section, .regular-section, .application-section, .international-section {
        width: 99vw;
        padding: 18px 0 15px 0;
    }

    .mandatory-title, .eligibility-title, .application-title, .admission-title, .regular-title, .q-eligibility-title, .regularpass-title, .validity-title, .reattempt-title, .jee-based-title, .international-title {
        font-size: 1.4em;
    }

    .mandatory-list li, .eligibility-list li, .application-list li, .admission-list li, .regular-list li, .q-eligibility-list li, .regularpass-list li, .validity-list li, .reattempt-list li, .jee-based-list li, .international-list li {
        font-size: 1em;
        padding-left: 26px;
    }
}


.application-feetable-wrapper, .q-eligibility-table-wrapper, .regularpass-table-wrapper, .validity-table-wrapper, .reattempt-table-wrapper {
    margin: 16px 0 6px 0;
    max-width: 600px;
}

.application-feetable, .q-eligibility-table, .regularpass-table, .validity-table, .reattempt-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    font-size: var(--font-regular);
}

.application-feetable th,
.application-feetable td, 
.q-eligibility-table th,
.q-eligibility-table td,
.regularpass-table th,
.regularpass-table td,
.validity-table th,
.validity-table td,
.reattempt-table th,
.reattempt-table td {
    padding: 8px 14px;
    text-align: left;
    border-bottom: 1px solid #e3e3e3;
}

.application-feetable th,
.q-eligibility-table th,
.regularpass-table th,
.validity-table th,
.reattempt-table th {
    font-size: 1em;
    font-weight: 600;
    color: #364858;
    background: #f8f8f8;
}

.application-feetable td,
.q-eligibility-table td,
.regularpass-table td,
.validity-table td,
.reattempt-table td {
    color: #303032;
    background: #fff;
    font-size: 0.99em;
}

.application-feetable tr:last-child td,
.q-eligibility-table tr:last-child td,
.regularpass-table tr:last-child td,
.validity-table tr:last-child td,
.reattempt-table tr:last-child td {
    border-bottom: none;
}

.application-feetable em,
.q-eligibility-table em,
.q-eligibility-table em,
.regularpass-table em,
.validity-table em,
.reattempt-table em {
    color: #646477;
    font-style: italic;
}


.international-heading {
    color: var(--primary-color-dark);
}

/* Footer */

.footer-section {
    background: var(--primary-color);
    color: var(--white) !important;
    padding: 16px 0 0 0;
    font-size: var(--font-small);
}

.footer-content {
    width: 92%;
    margin: 0 auto;
}

.contact-info h2 {
    font-weight: 500;
    font-size: 1.3em !important;
    margin-bottom: 10px;
    margin-top: -20px !important;
    color: var(--white) !important;
}

.contact-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
    font-size: 1.1em;
}

.contact-row i {
    font-size: 1.2em;
    margin-right: 16px;
    margin-top: 5px;
    min-width: 20px;
    color: var(--white) !important;
}

hr {
    margin: 22px 0 13px 0;
    border: none;
    border-top: 1px solid #c0e3ea;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-bottom: 16px; */
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    background: var(--primary-color-dark);
    border-radius: 6px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    /* color: var(--white) !important; */
    font-size: 1.25em;
    transition: background 0.2s;
    text-decoration: none;
}

.fab {
    text-decoration: none;
    color: var(--white);
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    background: var(--social-hover);
}

.honour-code {
    font-size: 1.13em;
    color: #fff;
}

.copyright-row {
    text-align: right;
    font-size: 1.02em;
    margin: 16px 0 6px 0;
}

@media (max-width: 650px) {
    .footer-content {
        width: 97%;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .copyright-row {
        text-align: left;
    }

    .social-icons {
        margin-bottom: 10px;
    }
}


/* Scroll to Top Button */
.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 25px;
    font-weight: 700;
    background-color: var(--primary-color-dark);
    color: var(--white);
    width: 40px;
    height: 45px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 10px var(--shadow-light);
    transition: transform 0.3s ease;
}

.scroll-to-top:hover {
    transform: translateY(-3px);
}
/* Dropdown styles */
.nav-links li {
    position: relative;
}

.dropdown {
    position: relative;
}

.dropdown>a {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.dropdown>a:hover {
    color: var(--text-dark) !important;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--primary-color);
    color: var(--white);
    min-width: 200px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 1%;
    z-index: 1000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: var(--white);
    text-decoration: none;
    transition: background-color 0.2s;
}

.dropdown-menu a:hover {
    background-color: var(--primary-color-dark);
    color: var(--white) !important;

}

